
# ----------------------
# Flask
# ----------------------
flask
Flask-wtf
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2==2.8.4

# ----------------------
# Production Server
# ----------------------
gunicorn